services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672" #AMQP
      - "15672:15672" # Dashboard
    volumes:
      - ./data:/var/lib/rabbitmq
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 30s
      timeout: 10s
      retries: 5
