services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672" #AMQP
      - "15672:15672" # Dashboard
    volumes:
      - ./data:/var/lib/rabbitmq
    environment:
      # -- DEFAULT USER
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: pass123
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 30s
      timeout: 10s
      retries: 5
